<%= form_for(@crime) do |f| %>
  <% if @crime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crime.errors.count, "error") %> prohibited this crime from being saved:</h2>

      <ul>
      <% @crime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="hero-unit">

<center><h3>Preencha com o crime e local</h3></center>

<form class="form-horizontal">
<div class="control-group">
<label class="control-label" for="inputEmail"> <%= f.label :name %></label>
    <%= f.text_field :name %>
  
 <label class="control-label" for="inputEmail"> <%= f.label :address %></label> 

    <%= f.text_field :address %>
  
  <div class="actions">
    <%= f.submit %>
  </form>

<% end %>

