<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @crime.name %>
</p>

<p>
  <b>Address:</b>
  <%= @crime.address %>
</p>


<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
